NODE_ENV="production"
SENTRY_URL=""
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE"
REDIS_URL="redis://localhost:6379"
BOT_TOKEN="BOT_TOKEN"
SPEED_WALLET="SPEED_WALLET"
ENCODING_SEQUENCE="PLEASE DO THIS RANDOM, NOT MORE THAN 18 CHARACTERS, SPACE INCLUDED"
LOG_LEVEL="info"

DEVELOPER_GUILD_ID="DEVELOPER_GUILD_ID"
EMOJIS=REFRESH:1150889388834820249&BACK:1150889245603528764&NEXT:1150889195057991732&FIRST_PAGE:1150889245603528764&LAST_PAGE:1150889195057991732

ENCRYPTION=aes-256-cbc:mySuperSecretKey1&aes-256-gcm:mySuperSecretKey2
PORT=8080